ul {
	list-style-type: none;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	background-color: rgb(224, 224, 224);
  }
  
li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(46, 238, 196);
	color: #333;
}
  
li.dropdown {
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 80px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
  
.dropdown-content a:hover {background-color: #a6dac2}
  
.dropdown:hover .dropdown-content {
	display: block;
}