
/* CSS for Login/Registration Form */

#forms {

    font: 13px Helvetica, Arial, sans-serif;
    font-style: normal;

}

#login-form {

    margin: 10px 200px 100px 100px;
    float: center;
    padding-bottom: 10px;

    border-radius: 10px;
    border: 0.5px solid #9e9e9e;
}

#button {
    margin: 0px 5px 0px 0px;
    background-color: #000000;
    float: left;
    width: 20vmin;
    height: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
