
/* CSS for Mendeleiev's Periodic Table */

h1 {
	text-align: middle;
}

.portrait {
	text-align: center;
}

td {
	width: 7vw;
	height: 2vh;
}

/* Defining Element Text Characteristics */

p {
	font-family:sans-serif
}

p.mass {
	font-size: 0.9vmin;
	text-align: right;
	height: 0.1vh;
	padding-right: 0.7vmin;
}

p.symbol {
	font-size: 1.5vmin;
	font-weight: bold;
	text-align: center;
	height: 0.1vh;
	padding-top: 0.2vmin;
	padding-bottom: 0.2vmin;

}

p.number {
	font-size: 0.9vmin;
	text-align: left;
	height: 0.1vh;
	padding-left: 0.7vmin;
}

/* Defining Element Box Colors */

td.diatomic           {	background-color :#d7f872; border: 0.1vw solid black;	}
td.noble-gas          {	background-color: #abf4f3; border: 0.1vw solid black;	}
td.alkali-metal       {	background-color: #f24a4e; border: 0.1vw solid black;	}
td.alkaline-earth     {	background-color: #f3ce93; border: 0.1vw solid black;	}
td.metalloid          {	background-color: #b9bb7f; border: 0.1vw solid black;	}
td.polyatomic         {	background-color: #8bf8ac; border: 0.1vw solid black;	}
td.transition         {	background-color: #f2a9aa; border: 0.1vw solid black;	}
td.post-transition    {	background-color: #b8b8b8; border: 0.1vw solid black;	}
td.lanthanide         {	background-color: #f2a3f4; border: 0.1vw solid black;	}
td.actinide           {	background-color: #f27ab9; border: 0.1vw solid black;	}
td.unknown            {	background-color: #d7d7d7; border: 0.1vw solid black;	}
